.gallery-container h1 {
    text-align: center;
    font-weight: bold;
}
.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;  
}

.lightbox img{
    width: 100px;
    height: 300px;
}


h1
{
	padding: 30px;
	color: #DB7418;
}