.o h2{
	text-align: center;
	color: darkorange;
	margin-top: 50px;
	margin-bottom: 50px;
	
	
}


/*background image*/
.left-us
{
    position: absolute;
    left: -70px;
	top: 100px;     
}
.left-us img
{
    width: 230px;
    height: 230px;	
}

.center{
	text-align: center;
	color: darkorange;
	margin-top: 200px;
	
}
.center h2{
	margin-bottom: 50px;
	
}


#about
{
	margin-top: -190px;
}


.js
{
	
	height: 350px;
	min-width: 1220px;
	
}
.ju .ju1
{
	height: 350px;
}
.us-t
{
    position: relative;
    top:-300px;
    text-align: center;
	width: 100%;
    color: white;
	

}
.us-t .btn
{
   margin-top: 15px;
    color:#DB7418 ;
    background-color: white;
	width: 250px;
	height: 50px;
	text-decoration: none;
	font-size: 17px;
}
.us-t .btn a
{
	color:#DB7418 ;
	text-decoration: none;
}
.us-t h3
{
    font-size: 32px;
}
.us-t p
{
    font-size: 17px;  
}

#pp
{
	color: white;
}
#pp p
{
	padding-top: 15px;	
}

@media (min-width: 1200px) {
.ju{
    width:600px;
	height: 450px;
	position: relative;
	left: 50px;
	padding-right: 0px;
	padding-left: 0px;
	
	
}
.ju1{
    width:600px;
	height: 450px;
	float: right;
	position: relative;
	bottom: 583px;
	right: 60px;
	padding-left: 0px;
	padding-right: 0px;
		

}


}

@media (max-width: 1200px) {
.ju{
    width:550px;
	height: 450px;
	border: 2px solid aqua;
	position: relative;
	left: 40px;
	padding-right: 0px;
	padding-left: 0px;
}
.ju1{
    width:550px;
	height: 450px;
	border: 2px solid black;
	float: right;
	position: relative;
	bottom: 565px;
	right: 40px;
	padding-left: 0px;
	padding-right: 0px;
}
	


}

@media (max-width: 992px) {
.ju{
    width:550px;
	height: 450px;
	border: 2px solid black;
	position: relative;
	left: -20px;
	padding-right: 0px;
	padding-left: 0px;
}
.ju1{
    width:550px;
	height: 450px;
	border: 2px solid aqua;
	float: right;
	position: relative;
	bottom: 565px;
	right: 100px;
	padding-left: 0px;
	padding-right: 0px;
}

}

@media screen and(max-width: 768px){
	
	.ju{
    width: 577px;
	height: 450px;
	border: 5px solid red;
	position: relative;
	left: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.ju1{
    width:577px;
	height: 450px;
	border: 2px solid aqua;
	float: left;
	position:absolute;
	bottom: 0px;
	top: 310px;
	right: 607px;
	padding-left: 0px;
	padding-right: 0px;
}
	}
	
	


.o
{ 
	
}


.th{
   background-image: url(../images/Join-Us-2.png);
background-size: 350px 100%;
	background-size: cover;
}

.f{
	background-image: url(../images/Join-Us-1.png);
background-size: 350px 100%;
	background-size: cover;	

}

.f
{
    position: relative;

    text-align: center;
	width: 100%;
	height: 350px;
    color: white;

}
.f .btn
{
   margin-top: 15px;
    color:#DB7418 ;
    background-color: white;
	width: 250px;
	height: 50px;
	text-decoration: none;
	font-size: 17px;
}
.f .btn a
{
	color:#DB7418 ;
	text-decoration: none;
}
.f h3
{
    font-size: 32px;
margin-top: 60px;
}
.f p
{
    font-size: 17px;  
	
}

#pp
{
	color: white;
}
#pp p
{
	padding-top: 15px;	
}



@media (min-width: 1200px) {

	.o
{ 
	width: 100%;
 
}
	

}


@media screen and (max-width: 992px) {

	.o
{ 
	width: 100%;

}
	.f h3
{
    margin-top: 30px;

}
	

@media screen and (max-width: 768px) {

	.o
{ 
	width: 100%;

}
	.f h3
{
    

}
	
	

}

