/*background image*/
.left-us
{
    position: absolute;
    left: -70px;
	top: 100px;     
}
.left-us img
{
    width: 230px;
    height: 230px;	
}


.testimonials-box {
	
 width: 1220px;

}
 .ji1 img
{
	position: relative;
	left: 20px;
	border: 3px solid red;
}

.us-t
{
    position: relative;
    top:-300px;
    text-align: center;
    margin-right: 650px;
	left: -20px;
    right: 450px; 
    color: white;
	width: 100%;
	
}
.us-t .btn
{
   margin-top: 15px;
    color:#DB7418 ;
    background-color: white;
	width: 250px;
	height: 50px;
	text-decoration: none;
	font-size: 17px;
}
.us-t .btn a
{
	color:#DB7418 ;
	text-decoration: none;
}
.us-t h3
{
    font-size: 32px;
}
.us-t p
{
    font-size: 17px;  
}

#pp
{
	color: white;
}
#pp p
{
	padding-top: 15px;	
}



@media (max-width: 992px) {
.container{
    max-width:720px;
}
.ji2
	{
		position: absolute;
		
	}

}



/*

@media (max-width: 768px) {
.container-fluid{
    width: 800px;
	height: 600px;	
	border: 3px solid aqua;
}
.testimonial-img
	{
		width: 800px;
		border: 2px solid aqua;
	}

	.img-fluid{
		width: 800px;
		border: 2px solid red;
	}


}


@media only screen and(min-width: 1200px) {
.testimonials-box{
    width:100%;
}}


*/
























