.mm h2{
	text-align: center;
	color: darkorange;
	margin-top: 50px;
	margin-bottom: 50px;
}

.left-bg
{
    position: absolute;
    left: 45px;
	top: 20px;
      
}
.left-bg img
{
    width: 400px;
    height: 400px;
	
}

.right-bg
{
    position: absolute;
top: 360px;
    left: 1210px;
    
}
.right-bg img
{
   width: 230px;
    height: 230px;
   
}

.m-dimo
{	
    width: 667px;
    position: absolute;
left: -45px;
	
    
}

 .m-dimo .diamond {
      width: 0;
     height: 0;
      border: 4px solid transparent;
      border-bottom-color: #DB7418;
	 position: relative;
	 left: 33px;
	 top: -22px;
      
    }
 .m-dimo .diamond:after {
      content: '';
      position: absolute;
      left: -4px;
	top: 4px;
      
        width: 0;
     height: 0;
      border: 4px solid transparent;
      border-top-color: #DB7418;
    }
   .m-dimo .diamond-1 {
      width: 0;
      height: 0;
      border: 7px solid transparent;
      border-bottom-color: white;
      position: relative;
      left: 30px;
	   top: -14px;
	   
		
    }
   .m-dimo  .diamond-1:after {
      content: '';
      position: absolute;
      left: -7px;
      top: 7px;
      width: 0;
      height: 0;
      border: 7px solid transparent;
      border-top-color: white;    
    }
   .m-dimo .diamond-2 {
      width: 0;
      height: 0;
      border: 9px solid transparent;
      border-bottom-color: #DB7418;
      position: relative;
      top: 0px;
	   left: 28px;
	   margin-right: -180px;
         
    }
    .m-dimo .diamond-2:after {
      content: '';
      position: absolute;
      left: -9px;
      top: 9px;   
      width: 0;
      height: 0;
      border: 9px solid transparent;
      border-top-color: #DB7418;    
    }
.m-dimo #solid
{
	width: 225px; 
    border: 1px solid #DB7418;
  top: 17px;
	left:61px;
	
}


    #diamond-m {
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-bottom-color: #DB7418;
      position: relative;
      top: 2px;
        left: 0px;
    }
    #diamond-m:after {
      content: '';
      position: absolute;
      left: -8px;
      top:8px;
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-top-color: #DB7418;
    }

#diamond-n {
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-bottom-color: #DB7418;
      position: relative;
	left: 279px;
	bottom: 38px;
    }
    #diamond-n:after {
      content: '';
      position: absolute;
      left: -8px;
      top:8px;
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-top-color: #DB7418;
    }

 .right-diamond
{
	
	position: absolute;
	left: 25px;
}
.right-diamond #solid
{
	width: 225px;
	
	position: absolute;
	left: -19px;
	top: 17px;	
}


.right-diamond .diamond-2
{
	float: right;
	
}
.right-diamond .diamond-1
{
	float: right;
	position: relative;
	top: 4px;
	left: 206px;		
	
}
.right-diamond .diamond
{
	float: right;
	position: relative;
	top: 10px;
	left:  217px;
	
}

/*   middle Diamond  */



    #diamond-big {
      width: 0;
      height: 0;
      border: 50px solid transparent;
      border-bottom-color: #C11200 ;
      position: relative;
      top: -103px;
		left: 36px;
    }
    #diamond-big:after {
      content: '';
      position: absolute;
      left: -50px;
      top: 50px;
      width: 0;
      height: 0;
      border: 50px solid transparent;
      border-top-color: #C11200 ;
    }
  
 .Diamond-Ring img
{
	width: 50px;
	height: 50px;
	
	position: absolute;
	left: 346px;
	top: -30px;
}


.mm
{ 
	
}


.tm{
   background-image: url(../images/Marriage-Beureau/Marriage-beureau%20-%202.png);
background-size: 350px 100%;
	background-size: cover; 
	background-repeat: no-repeat;
	

	
}

.m{
	background-image: url(../images/Marriage-Beureau/Marriage-beureau%20-1.png);
background-size: 350px 100%;

background-size: cover;
	background-repeat: no-repeat;
}

.tm{
	
}
.details
{
	
	 position: relative;

    text-align: center;
	width: 100%;
	height: 350px;
    color: white;

}


.details .btn{
	
    color:#DB7418 ;
    background-color: white;
   
	text-decoration: none;
	font-size: 17px;
	
	width: 250px;
	height: 50px;
	
}
.details .btn a
{
	color:#DB7418 ;
	text-decoration: none;
	
}


.details h3{
	
	margin-top: 50px;

	font-size: 32px;
}
.details p{
	

	font-size: 17px;
	margin-left: 30px;
	margin-top: 30px;
}















@media (min-width: 1200px) {

	.mm
{ 
	width: 100%;
 
}
	

}


@media screen and (max-width: 992px) {

	.mm
{ 
	

}
	.m h3
{


}
	
.mm	.m-dimo
{
	display: none;
	
	}
}


@media screen and (max-width: 768px) {

	.mm
{ 
	width: 100%;

}

	.details .btn{
	
	margin-left: 50px;
}
#pars{
		margin-top: -10px;
	}
	


}

@media screen and (max-width: 500px) {

	.mm
{ 
	width: 100%;

}
	.m h3
{
    

}
	#pars{
		display: none;
	}
	

}






