*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background: #FCF7F3;
    overflow-x: hidden;
    color: #FDF8F4;
    
}
h3{ 
    color: #DB7418;
}
h6{
    color: #DB7418;
}


/* Header section */
.header img{
    width: 100%;
}
.footer-area{
    background: #4C3839;
    color: white;
}
.footer-icons ul li{
    list-style-type: none;
}
.footer-area-bottom{
    background: #4C3839; 
    color: #B4AFAF;
}
.header-img{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: 200px;
}
.header-logo{
    position: absolute;
    top: 30px;
    left: 70px;
    height: 130px;
    width: 130px;    
}
.header-txt{
    position: absolute;
    top: 40px;
    left: 210px;
    height: 100px;
    width: 400px;
}

.slid_back
{
    position: absolute;
    top: 235px;
    right: -100px;
    width: 244px;
    
}
.slid_back img
{
    width: 400px;
    
    
}

.carousel slide
{
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 950px;
    
}




/*   Nav bar  */


.navbar
{
    
	

	
}

@font-family{
    font-family: Perfectly Amicable  ;
    src: url(fonts/perfectly%20amiable.ttf)

}

.nav-item {
    
    font-size: 22px;
    font-family: Perfectly Amicable  ; 
   color: #DB7418;
  margin-left: 23px;	
  
   

}

.nav-item a
{
    margin-right: 50px;
 
}

.dropdown-menu .dropdown-item
{
   font-size: 23px;
    margin-left: 0px;
}
.nav-item .dropdown{
   
    background-color: orangered;
    font-family: Perfectly Amicable  ; 
   color: #DB7418; 
    
}

.nav-link {
  text-decoration: none;
  color: black;
  display: inline-block;
  position: relative;
  opacity: 0.75;
   
}

.nav-link:hover {
  opacity: 1;
    text-decoration: underline;
    color: #DB7418;
}

.nav-link::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #DB7418;;
    text-decoration: underline;
}

.nav-link::before {
  width: 0%;
  bottom: 5px;
}

.nav-link:hover::before {
  width: 80%;
}


.dropdown-menu .dropdown-item{
  text-decoration: none;
  color: black;
  display: inline-block;
  position: relative;
  opacity: 0.75;
   
}

.dropdown-menu .dropdown-item:hover  {
  opacity: 1;
    text-decoration: underline;
    color: #DB7418;
}



.dropdown-menu .dropdown-item::before {
  width: 0%;
  bottom: 5px;
}

.dropdown-menu .dropdown-item:hover::before  {
  width: 80%;
}




/* SERVICES */

@font-family{
    font-family:URW-Grotesk-Light;
    src: url(fonts/URW-Grotesk-Light.ttf);
   
}
@font-family{
   
    font-family:Velino_Condensed_Display;
    src: url(fonts/Velino_Condensed_Display.ttf);
}

.full
{
   background: #F3F0EB;
  
    padding-bottom: 10px;
    font-size: 17px;
    

}

.service-item
{
    align-self: center;
    text-align: center;

}
 
.service-item img {
    width: 100px;
    height: 100px;
  
    
    
    
}  
.service-btn{
    background: #c16800;
    text-align: center;
    border: 1px solid transparent;
    border-radius: .25rem;
    padding: 10px 50px;
    margin-left: 20px;

    
}


.service-item h6{
   font-family: URW-Grotesk-Light;
    font-size: 22px;
    text-transform: uppercase;
    color: #906426;
    
}

.text-center h3
{
     font-family:Velino_Condensed_Display;
    font-size: 30px;
   font-weight: bold;
    color: #b35900;
    
}

.service-item p{
    font-size: 15px;
    text-align: center;
    
}







/*    Gallery    */


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


#title-gallery 
{
	margin-left:-15px;
	margin-right: 15px;
	margin-bottom: 30px;
	color: #DB7418;

	text-align: center;
	
}





/*  LEADERSHIP GALLERY   */


div .gallery img {
  width: 100%;
  height: auto;
	
	border: 3px solid darkorange;
	align-items: center;
	
	
}

 div .desc {
  padding: 15px;
	text-align: center;
	margin-right: 30px;
}



 .responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
	
	  
}
@media only screen and (max-width: 992px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 768px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 576px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
	  
  }
}


@media only screen and (max-width: 350px) {
  .responsive {
    width: 100%;
	  
	  
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}





/*      slideshow   */



========================================================

.slider {
	position: relative;
	padding-top:70px;
	height: 400px;
	
}

.slider img {
   
	width: 1255px;
	
  
  
}

#carousel-slider {
  position: relative;
}

#carousel-slider .carousel-indicators {
  bottom: -25px;
}

#carousel-slider .carousel-indicators li {
  border: 1px solid #ffbd20;
}

#carousel-slider a i {
  border: 1px solid #fff;
  border-radius:50%;
  font-size: 30px;
  height: 50px;
  padding: 8px;
  position: absolute;
  top: 50%;
  width: 50px;
  color:#fff;
}

#carousel-slider a i:hover {
  background:#0BA9F9;
  color:#fff;
  border: 1px solid #0BA9F9;
}

#carousel-slider
.carousel-control {
  width:inherit;
}

#carousel-slider .carousel-control.left i {
  left:40px;
  top: calc(50% - 25px);
	position: relative;
	top: -70px;
	left: -70px;
    margin-right: 40px;
	border: 3px solid aqua;
}

#carousel-slider .carousel-control.right i {
  right: 40px;
  top: calc(50% - 25px);
position: relative;
	top: -70px;
	left: -70px;
    margin-right: 40px;
	border: 3px solid aqua;
}

#carousel-slider
.carousel-control.left,
#carousel-slider
.carousel-control.right {
  background: none;
}

a.left
{
    margin-left: 1000px;
    width: 50px;
    height: 50px;
    top: 350px;
    left: 100px;
    
	
}

/*

a.right
{
    width: 50px;
    height: 50px;
   right: 50px;
    top: 330px;
    margin-right: 40px;
     
}
*/


 #pointer {
      width: 400px;
      height: 75px;
      position: relative;
      background: white;
     bottom: 100px;
     left: 129px;
     padding-left: 30px;
     
     
    
    }
    #pointer:after {
        
        width: 200px;
      height: 100px;
      background: #DB7418;
        
      content: "";
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 0;
      height: 0;
      border-left: 5px solid #DB7418;
      border-top: 55px solid transparent;
      border-bottom: 20px solid transparent;
        
       
    }
    #pointer:before {
      content: "";
      position: absolute;
      right: -40px;
      bottom: 0px;
      width: 0;
      height: 0;
        top: 0px;
      border-left: 40px solid white;
      border-top: 40px solid transparent;
      border-bottom: 36px solid transparent;
       
    }


.dot {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border:1px solid  #DB7418;
    position:relative;
    top: 5px;
    left: 0px;
  
}

.dot3 {
  height: 5px;
  width: 5px;
  background-color:  #DB7418;
  border-radius: 50%;
  display: inline-block;
  
    position:relative;
bottom: 18px;
    left: 2px;  
}
.dot2 {
  height:10px;
  width: 10px;
  background-color: white;
  border-radius: 70%;
  display: inline-block;
  border:1px solid  #DB7418;
    padding-top: 10px; 
    position:relative;
    bottom: 24px;
    left: 210px;
    
    padding-right: 10px;
}



p.dotted 
{
    width: 200px;
    position: relative;
   bottom: 6px;
    left: 10px;
    border-top-style: dotted;
    color: #DB7418;
}

p.title  
{
    
    position: relative;
    bottom: 50px;
    left: 10px;
    color: #DB7418;
   font-weight: bold;
    font-family: UtopiaStd-BoldDisp;
    font-size: 32px;
    
}
p.title small
{
    color: black;
    font-size: 15px;
}


    
}

.solid
{
   dnot remove this  
}

.circle_down
{
    position: relative;
    bottom: 75px;
}

.circle_down .dot{
    position: relative;
    top: 11px;
    left: 0px;
}

.circle_down .dot2{
    
    position: absolute;
    padding-right: 10px;
    top: 17px;
    left: 345px;
    
}

.circle_down .dot3{
    
    position: relative;
    left: 3px;
   
    
    
}


.circle_down .solid
{
    
    width: 350px; 
    border: 1px solid #DB7418; 
}

.background-2 img
{
    position: absolute;
    left: -155px;
	bottom: -143px;
   
}

#Carousel_latest
{
	left: -10px;
}

@media (max-width: 767px) {

  .carousel-caption  h2, .carousel-caption  h2 span {
    font-size: 36px;
  }

  .carousel-caption  p {
    font-size: 24px;
    margin-top: 24px;
  }

  .carousel-inner .form-inline .form-group button[type="livedemo"], .carousel-inner .form-inline .form-group button[type="getnow"]{
  	padding:10px 30px;
  	font-size:18px;
  }

  .carousel-inner .form-inline {
    margin-bottom: 0;
  }

  .carousel-inner .form-group {
    display: inline;
  }

  #carousel-slider .carousel-indicators {
    bottom: 0;
  }
}

@media (max-width: 575px) {

  .carousel-caption {
    top: -30px;
  }

  .carousel-caption  h2, .carousel-caption  h2 span {
    font-size: 24px;
  }

  .carousel-caption  p {
    font-size: 18px;
    margin-top: 18px;
  }

  .carousel-inner .form-inline .form-group button[type="livedemo"], .carousel-inner .form-inline .form-group button[type="getnow"]{
  	padding:5px 20px;
  	font-size:14px;
  }

  .carousel-inner .form-inline {
    margin-bottom: 0;
    margin-top: 0;
  }

  .carousel-inner .form-group {
    display: inline;
    padding-top: 0;
  }

  #carousel-slider .carousel-indicators {
    display: none !important;
  }

  .carousel-inner .btn-primary {
    margin-top: 10px;
  }
}




.img-responsive
{
	
	padding-left: 85px;
	padding-right: 10px;
	
	
}


===========================================================

@font-family{
    font-family: UtopiaStd-BoldDisp;
    src: url(fonts/UtopiaStd-BoldDisp.otf)
}



#myCarousel
{
     width: 1255px;
    margin-left: -74px; 
    margin-top: -15px;
    margin-bottom: -40px;
    
}

 .background 
{
    position: absolute;
    top: 260px;
    left: 1200px;
   
}



a.left
{
    margin-left: 1000px;
    width: 50px;
    height: 50px;
    top: 380px;
    left: 100px;
    background-image:  -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0, );
	
}


a.right
{
    width: 50px;
    height: 50px;
   right: 50px;
    top: 380px;
    margin-right: 40px;
     
}




/*


 #pointer {
      width: 400px;
      height: 75px;
      position: relative;
      background: white;
     bottom: 100px;
     left: 20px;
     padding-left: 30px;
     
     
*/
    
    }
    #pointer:after {
        
        width: 200px;
      height: 100px;
      background: #DB7418;
        
      content: "";
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 0;
      height: 0;
      border-left: 5px solid #DB7418;
      border-top: 55px solid transparent;
      border-bottom: 20px solid transparent;
        
       
    }
    #pointer:before {
      content: "";
      position: absolute;
      right: -40px;
      bottom: 0px;
      width: 0;
      height: 0;
        top: 0px;
      border-left: 40px solid white;
      border-top: 40px solid transparent;
      border-bottom: 36px solid transparent;
       
    }


.dot {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border:1px solid  #DB7418;
    position:relative;
    top: 5px;
    left: 0px;
  
}

.dot3 {
  height: 5px;
  width: 5px;
  background-color:  #DB7418;
  border-radius: 50%;
  display: inline-block;
  
    position:relative;
bottom: 18px;
    left: 2px;  
}
.dot2 {
  height:10px;
  width: 10px;
  background-color: white;
  border-radius: 70%;
  display: inline-block;
  border:1px solid  #DB7418;
    padding-top: 10px; 
    position:relative;
    bottom: 24px;
    left: 210px;
    
    padding-right: 10px;
}



p.dotted 
{
    width: 200px;
    position: relative;
   bottom: 6px;
    left: 10px;
    border-top-style: dotted;
    color: #DB7418;
}

p.title  
{
    
    position: relative;
    bottom: 50px;
    left: 10px;
    color: #DB7418;
   font-weight: bold;
    font-family: UtopiaStd-BoldDisp;
    font-size: 32px;
    
}
p.title small
{
    color: black;
    font-size: 15px;
}


    
}

.solid
{
   dnot remove this  
}

.circle_down
{
    position: relative;
    bottom: 75px;
}

.circle_down .dot{
    position: relative;
    top: 11px;
    left: 0px;
}

.circle_down .dot2{
    
    position: absolute;
    padding-right: 10px;
    top: 17px;
    left: 345px;
    
}

.circle_down .dot3{
    
    position: relative;
    left: 3px;
   
    
    
}


.circle_down .solid
{
    
    width: 350px; 
    border: 1px solid #DB7418; 
}

.background-2 img
{
    position: absolute;
    left: -155px;
	bottom: -143px;
   
}

#Carousel_latest
{
	left: -10px;
}



/*    Latest Event     */




.container_latest
{ 
   margin-left: 80px;
    margin-right: 50px; 
    margin-top: 50px; 
    
   
}

.img-latest img
{    width: 870px;
    margin-top: 10px;
	
}

.img-latest img img
{    width: 870px;    
}




.carousel-control-prev img
{
    width: 50px;
    height: 50px;
    position: absolute;
    left: -30px;
   
}
.carousel-control-next
{
    transform: scaleX(-1)
       
}

.carousel-control-next img
{
    width: 50px;
    height: 50px;
    position: absolute;
    left: -30px;    
}
.latest_event{
    position: absolute;
    left: 50px;
    top: 40px;  
}


.latest-img 
{
	background-image: url(images/Latest_Events/On%20Text%20bg.png);
	  width: 500px;
    height: 260px;
    top: 0px;
    position: absolute;
    text-align: left;
  background-size: cover;
	
}

.text-latest
{
    width: 500px;
    height: 260px;
    top: 110px;
    position: absolute;
    left:700px;
     text-align: left;
    padding-left: 50px; 
    }
   

.text-latest h4
{
    padding-top: 50px;
    font-weight: bold;
    font-size:  26px;
		

    
}
.text-latest p
{
    margin-right: 110px;

    
    
}




.diamond-bottom
{
   margin-left: 10px;
    
}





 .diamond {
      width: 0;
     height: 0;
      border: 5px solid transparent;
      border-bottom-color: #DB7418;
      position: relative;
     top: -33px;
     left:-5px;
     
      
        
    }
    .diamond:after {
      content: '';
      position: absolute;
      left: -5px;
      top: 5px;
        width: 0;
     height: 0;
     
      border: 5px solid transparent;
      border-top-color: #DB7418;
        
        
        
    }




    .diamond-1 {
      width: 0;
      height: 0;
      border: 7px solid transparent;
      border-bottom-color: white;
      position: relative;
      top: -23px;
        left: -7px;
       
     
        
    }
     .diamond-1:after {
      content: '';
      position: absolute;
      left: -7px;
      top: 7px;
      width: 0;
      height: 0;
      border: 7px solid transparent;
      border-top-color: white;
         
        
    }



    .diamond-2 {
      width: 0;
      height: 0;
      border: 11px solid transparent;
      border-bottom-color: #DB7418;
      position: relative;
      top: -8px;
        left: -11px;
        
     
        
    }
    .diamond-2:after {
      content: '';
      position: absolute;
      left: -11px;
      top: 10px;
        
      width: 0;
      height: 0;
      border: 11px solid transparent;
      border-top-color: #DB7418;
        
    }



 #solid
{
    
    width: 250px; 
    border: 1px solid #DB7418;
   position: absolute;
   top: 227px;
    margin-left: 9px;
    
   
}



    #diamond {
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-bottom-color: #DB7418;
      position: relative;
      top: -52px;
        left: 265px;
    }
    #diamond:after {
      content: '';
      position: absolute;
      left: -10px;
      top:10px;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top-color: #DB7418;
    }




















/*    Andhra_Association_Healthcare_&_Diagnostic_Centre */

 .left-im{
    float: left;
	max-width: 500px;

   	
}

 .left-im img{
    padding: 10px;  
    width: 100%;
    height: 500px;
}

 .right-cont{
    float: right;
     text-align: center;
}


/*  Andhra_Association_Healthcare_&_Diagnostic_Centre  */

